<div class="row">
  <div class="col-xs-12">
    <h1>Create a Wetstamp</h1>
    <%= link_to 'Back', stamps_path %>
  </div>
</div>

<div class="row">
  <div class="col-xs-8">

    <div class="panel panel-default" style="background-color:#eee">
      <div class="panel-body text-center" id="watermark-preview">
        <div id="product-image">
          <%= image_tag "http://cdn.shopify.com/s/files/1/0083/9442/products/The-Random-Products-Of-CES-2011-11.jpeg?v=1399452672" %>

          <div id="watermark">
          </div>
        </div>
        
        
      </div>
    </div>

  </div>

  <div class="col-xs-4 watermark-presets">
    
    <a data-role="watermark-preset" 
      data-class="bottom right"
      data-rotate="0" 
      data-position="<%= Magick::SouthEastGravity.to_i %>"
      data-tiled="0"
      data-no-turbolink>
      <%= image_tag "presets/bottom_right.png", alt: "Bottom Right" %>
    </a>

    <a data-role="watermark-preset"
      data-class="bottom left vertical"
      data-rotate="-90"
      data-position="<%= Magick::SouthWestGravity.to_i %>"
      data-tiled="0"
      data-no-turbolink>
      <%= image_tag "presets/bottom_left_vertical.png", alt: "Bottom Left, Vertical" %>
    </a>


    <a data-role="watermark-preset" 
      data-class="bottom left"
      data-rotate="0" 
      data-position="<%= Magick::SouthWestGravity.to_i %>"
      data-tiled="0"
      data-no-turbolink>
      <%= image_tag "presets/bottom_left.png", alt: "Bottom Left" %>
    </a>

    <a data-role="watermark-preset"
      data-class="center neg45deg"
      data-rotate="-45"
      data-position="<%= Magick::CenterGravity.to_i %>"
      data-tiled="0"
      data-no-turbolink>
      <%= image_tag "presets/center_neg45deg.png", alt: "Centered, negative 45 degree angle" %>
    </a>

    <a data-role="watermark-preset"
      data-class="center"
      data-rotate="0"
      data-position="<%= Magick::CenterGravity.to_i %>"
      data-tiled="0"
      data-no-turbolink>
      <%= image_tag "presets/center_horizontal.png", alt: "Centered and Horizontal" %>
    </a>

    <a data-role="watermark-preset"
      data-class="center neg45deg"
      data-rotate="-45"
      data-position="<%= Magick::CenterGravity.to_i %>"
      data-tiled="1"
      data-no-turbolink>
      <%= image_tag "presets/tiled_neg45deg.png", alt: "Negative 45 degrees, and tiled repeatedly" %>
    </a>


  </div>
</div>

<div class="row" id="wetstamp-form">
  <div class="col-xs-12 col-md-4">
    <%= form_for(StampImage.new, url: upload_stamps_path, html: {multipart: :true}, remote: true) do |f| %>

      <div class="field">
        <%= f.label :image, "Watermark" %>
        <%= f.file_field :image %>
      </div>

    <% end %>
  </div>

  <div class="col-xs-12 col-md-4">
    <label for="stamp_size">Size</label>
    <div class="input-group">

      <span class="input-group-btn">
        <button class="btn btn-default" type="button" data-delta="-5" data-for="stamp_size">
          <span class="glyphicon glyphicon-minus"></span>
        </button>
      </span>
      
      <input type="text" class="numeric decimal optional form-control" id="stamp_size" min="0" placeholder="e.g. 25%" value="25">
      
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" data-delta="5" data-for="stamp_size">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </span>

    </div>
  </div>


  <div class="col-xs-12 col-md-4">
    <label for="stamp_transparency">Opacity</label>
    <div class="input-group">

      <span class="input-group-btn">
        <button class="btn btn-default" type="button" data-delta="-5" data-for="stamp_transparency">
          <span class="glyphicon glyphicon-minus"></span>
        </button>
      </span>

      <input type="text" class="numeric decimal optional form-control" id="stamp_transparency" min="0" max="100" placeholder="e.g. 25%" value="25">
      
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" data-delta="5" data-for="stamp_transparency">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </span>

    </div>
  </div>

</div>

<div class="row">
  <div class="col-xs-12">
    <p>
      <a href="#" class="btn btn-success btn-block">Next</a>
    </p>
  </div>
</div>
