<div class="row">
  <div class="col-xs-12">
    <h1>Create Your Wetstamp</h1>
  </div>
</div>

<div class="row" id="wetstamp-form">

  <div class="col-xs-12 col-md-8 col-md-push-4">

    <h3>
      Live Preview
      <small>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" 
        title="The live preview is a general guide. You can see a processed preview by clicking finalize.">
        </span>
      </small>
    </h3>

    <div class="preview text-center" id="watermark-preview">
      <div id="product-image">
        <%= image_tag ShopifyAPI::Product.all.to_a.sample.images.sample.try(:src) %>

        <div id="watermark">
        </div>
      </div>
    </div>

    <div class="visible-md visible-lg">
      <p>
        <button class="btn btn-success btn-lg btn-block submit">Finalize &gt;</button>
      </p>
    </div>

  </div>

  <div class="col-xs-12 col-md-4 col-md-pull-8">
    <div class="row">
      <div class="col-xs-12">
        <%= form_for(StampImage.new, url: upload_stamps_path, html: {multipart: :true}, remote: true) do |f| %>

          <div class="field">
            <h3>1) Upload your Stamp</h3>
            <div class="form-group">
              <%= f.file_field :image %>
            </div>
          </div>

        <% end %>
      </div>

      <div class="col-xs-12">
        <h3>2) Choose a Style</h3>
        <div class="row watermark-presets">
          
          <a data-role="watermark-preset" 
            data-class="bottom right"
            data-rotate="0" 
            data-position="<%= Magick::SouthEastGravity.to_i %>"
            data-tiled="0"
            data-no-turbolink>
            <%= image_tag "presets/bottom_right.png", alt: "Bottom Right" %>
          </a>

          <a data-role="watermark-preset"
            data-class="bottom left vertical"
            data-rotate="-90"
            data-position="<%= Magick::SouthWestGravity.to_i %>"
            data-tiled="0"
            data-no-turbolink>
            <%= image_tag "presets/bottom_left_vertical.png", alt: "Bottom Left, Vertical" %>
          </a>


          <a data-role="watermark-preset" 
            data-class="bottom left"
            data-rotate="0" 
            data-position="<%= Magick::SouthWestGravity.to_i %>"
            data-tiled="0"
            data-no-turbolink>
            <%= image_tag "presets/bottom_left.png", alt: "Bottom Left" %>
          </a>

          <a data-role="watermark-preset"
            data-class="center neg45deg"
            data-rotate="-45"
            data-position="<%= Magick::CenterGravity.to_i %>"
            data-tiled="0"
            data-no-turbolink>
            <%= image_tag "presets/center_neg45deg.png", alt: "Centered, negative 45 degree angle" %>
          </a>

          <a data-role="watermark-preset"
            data-class="center"
            data-rotate="0"
            data-position="<%= Magick::CenterGravity.to_i %>"
            data-tiled="0"
            data-no-turbolink>
            <%= image_tag "presets/center_horizontal.png", alt: "Centered and Horizontal" %>
          </a>

          <a data-role="watermark-preset"
            data-class="center neg45deg"
            data-rotate="-45"
            data-position="<%= Magick::CenterGravity.to_i %>"
            data-tiled="1"
            data-no-turbolink>
            <%= image_tag "presets/tiled_neg45deg.png", alt: "Negative 45 degrees, and tiled repeatedly" %>
          </a>
        </div>
      </div>

      <div class="col-xs-12 padding-bottom">
        <h3>3) Tweak it</h3>

        <div class="row text-center">
          <div class="col-xs-12 col-sm-6">
            
            <label for="stamp_size">Size</label><br />

            <button class="btn btn-primary btn-half delta" type="button" data-delta="-5" data-for="size">
              <span class="glyphicon glyphicon-minus"></span>
            </button>
            <button class="btn btn-primary btn-half delta" type="button" data-delta="5" data-for="size">
              <span class="glyphicon glyphicon-plus"></span>
            </button>

          </div>
          <div class="col-xs-12 col-sm-6">
            
            <label for="stamp_transparency">Transparency</label><br />

            <button class="btn btn-primary btn-half delta" type="button" data-delta="0.05" data-for="transparency">
              <span class="glyphicon glyphicon-minus"></span>
            </button>
            <button class="btn btn-primary btn-half delta" type="button" data-delta="-0.05" data-for="transparency">
              <span class="glyphicon glyphicon-plus"></span>
            </button>

          </div>
        </div>
        
      </div>

      <div class="col-xs-12 pull-right hidden-md hidden-lg">
        <p>
          <button class="btn btn-success btn-lg btn-block submit">Finalize &gt;</button>
        </p>
      </div>

    </div>
  </div>

</div>




