<!DOCTYPE html>
<html>
<head>
  <title>Watermarkify</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="navbar" id="top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand brand" href="/">Wetstamp</a>
      </div>
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
          <li>
            <a href="#">Examples</a>
          </li>
          <li class="active">
            <a href="#">Pricing</a>
          </li>
          <li>
            <a href="#">Support</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if current_shop %>
          
            <li class="">
              <%= link_to "Log Out", logout_path, method: :delete, data: {no_turbolink: ""} %>
            </li>
          <% else %>
            <li class="bg-success">
              <%= link_to "Sign Up Free", login_path %>
            </li>
            <li class="">
              <%= link_to "Log In", login_path %>
            </li>
          <% end %>
          
        </ul>
      </nav>
    </div>
  </header>

  <div class="container">
    <main>
      <%= yield %>
    </main>
  </div>

</body>
</html>



